@model List<PN2016.DBModels.FamilyInfoDBModel>

@{
    ViewBag.Title = "PdfPreview";
    Layout = null;
}
<html>
<head>
    <title>@ViewBag.Title - NSNA North East</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/nsna.css" />
</head>
<body>
    @{
        double totalPageCount = Math.Ceiling((double)Model.Count / 3);
        int itemCounter = 0;
        int pageCounter = 1;
        foreach (var contact in Model)
        {
            Html.RenderPartial("FamilyPdfView", contact);
            <hr />
            itemCounter++;
            if (itemCounter == 3)
            {
                itemCounter = 0;
                pageCounter++;
            }
        }
        if (itemCounter != 0)
        {
            for (int k = 0; k < 3 - itemCounter; k++)
            {
                <table width="100%" height="305px">
                    <tr>
                        <td><br/></td>
                    </tr>
                </table>
            }
            <hr/>
            <div>
            <!--
                <footer>
                    <table align="center" width="90%">
                        <tr>
                            <td valign="bottom" align="left">
                                NSNA - TriState 2017 Directory
                            </td>
                            <td valign="bottom" align="right">
                                @($"Page: {pageCounter}/{totalPageCount}")
                            </td>
                        </tr>
                    </table>
                </footer>
            -->
            </div>
        }
    }
</body>
</html>
