@{
    ViewBag.Title = "Dress Exchange Program";
}

<!-- Content -->
<section>
    <header class="main">
        <h2>Dress Exchange Program</h2>
    </header>

    <span class="image main"><img src="~/images/dressExchange.jpg" alt="" /></span>

    <p>We would like to continue the dress exchange program by <b>Kathir Solaiyappan</b></p>
    <p>The valuable lovely dress you selected for your kids, used once or twice in lifetime, is probably sitting in your closet not fulfilling its purpose. Why waste valuables, and make those dress feel sad. These dresses brought you so much happiness when your kids used it. Let’s share that same happiness and have someone in your friend’s circle make use of it. Share and Care, bring a Smile.</p>
    <p>As you bring those dresses, that your kids have outgrown, you might find some good dress from your friends and can pick one. Please feel free to pick up any dress you like from others. You can pick up any dress you like, even if you don’t bring one to recycle. There is no obligation to donate, though you might see a donation box.  Any money your friends chip in that box will go towards kids who needs help, another way to say thanks and spread the smile forward. Again, strictly no obligation to donate but encouraged to do so.</p>
    <p>Bring those dresses on, when you come to our PN  NSNA function on January 7 2017. Drop off you’re the dresses at Registration Desk. We will have a Table at the hall to do the exchange. Please make sure you follow the simple rules for the dresses you bring, </p>
    <ol>
        <li>You can bring only KIDS TRADITIONAL dresses, be it a boy or girl dresses</li>
        <li>Dresses has to be of GOOD condition, and must be least used (once or twice)</li>
        <li>All dresses must be washed/pressed and packed in a Ziploc bag</li>
        <li>Make sure to write the following on the Ziploc bag,
            <ul>
                <li>Mention dress type – Boy / Girl</li>
                <li>Age / Size</li>
                <li>Your name on it</li>
            </ul>
        </li>
        <li>If your dresses are not picked up by someone at end of the day, we will make sure to return the dresses back to you in the next NSNA gathering. I know, it’s a hassle, but still worth a try.</li>
    </ol>
    <p>So friends, give a new life to those cute dresses and keep the smile on. Run to your closets now. Cheers. <br/>
    If you have any questions, please reach out to Kathir Meena at (703)582-3769.</p>
    <hr class="major" />    
</section>

