@{
    ViewBag.Title = "2016 Pillayar Nonbu";
}

    <!-- Home -->
    <section id="banner">
        <div class="content">
            <a name="home"></a>
            <header>
                <h1>
                    Pillayar Nonbu<br />
                    2016
                </h1>
                <h4>Saturday, January 7 2017 - 4 PM</h4>
                <h3>
                    Sri Guruvayoorappan Temple<br />
                    31 Wooleytown Road <br />
                    Marlboro Township, NJ 07751
                </h3>
            </header>
            <p>
                வாக்குண்டாம் நல்ல மனமுண்டாம் மாமலராள்<br />
                நோக்குண்டாம் மேனி நுடங்காது-பூக்கொண்டு<br />
                துப்பார் திருமேனித் தும்பிக்கை யான்பாதம்<br />
                தப்பாமற் சார்வார் தமக்கு.
            </p>
            <p>
                Vaakundam Nalla Manamundam, Maa Malaraal<br />
                Nokundam, Meni Nudangaadu - Pookondu <br />
                Thuppar Thirumeni Thumbikaiyaan Paadham <br />
                Thappamal Saarvaar Thamakku.
            </p>
            <p>With great pleasure we would like to invite all Nagarathars of NY/NJ/CT to 2016 Pillayar Nonbu. This year Pillayar Nonbu falls on Jan 2017. We are looking forward to meet you all.</p>
        </div>
        <span class="image object">
            <img src="~/images/dn.pillayar03.jpg" alt="Pillayar" />
        </span>
    </section>

    <!-- Registration -->
    <section>
        <h2 id="content"><a name="register"></a>Registration</h2>
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Evite - RSVP</h3>
                <p>If you have received evite email, please follow the link in the email to RSVP. If you haven't received the email, Please use the below link and RSVP for the event. Please do register to confirm your attendance in advance and also forward this invitation to new nagarathars in our neighborhood.</p>
                <ul class="actions">
                    <li><a href="http://www.evite.com/event/03BDWXAGFLCDG4YFKEPGOYRLCBP5VM/rsvp" target="_evite" class="button big">RSVP</a></li>
                </ul>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Registration Fee</h3>
                <p>
                    <ul>
                        <li>Online registration fee payment is $35 per family / $25 per bachelor / $10 per Student. Online payment using your Bank Account or PayPal.</li>
                        <!--
                        <li>In person registration fee payment at the venue on the function day $40 per family / $30 per bachelor / $10 per Student.</li>
                        <li>Early Bird Discount:  Pay by Online before <strike>Dec 15</strike> to get  10% off. <h4 class="text-danger">Now Extended till Dec25.</h4></li>
                        -->
                    </ul>
                </p>
            </div>
            <!-- Break -->
            <div class="12u 12u$(medium)">
                <h3>Online Payment Instruction</h3>
                <p>Pay online using below info. Instructions to transfer using email id or phone number from different banks/Paypal: </p>
            </div>
            <!-- Break -->
            <div class="8u 12u$(medium)">
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Info</th>
                                <th>Pay to email or Phone number and add note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Email</td>
                                <td>nramnathan@hotmail.com</td>
                            </tr>
                            <tr>
                                <td>Phone number</td>
                                <td>347-331-8035</td>
                            </tr>
                            <tr>
                                <td>Note</td>
                                <td>2016 PN Registration Fee. - {Your Email Id}. <br />Please add your email id.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="4u 12u$(medium)">
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th colspan="2"><h4>Payment Amount</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Family</td>
                                <td>$35</td>
                                <!-- <td><s>$35</s>&nbsp;&nbsp;<span class="text-danger">$31.50</span></td> -->
                            </tr>
                            <tr>
                                <td>Bachelor</td>
                                <td>$25</td>
                                <!-- <td><s>$25</s>&nbsp;&nbsp;<span class="text-danger">$22.50</span></td> -->
                            </tr>
                            <tr>
                                <td>Student</td>
                                <td>$10</td>
                                <!-- <td><s>$10</s>&nbsp;&nbsp;<span class="text-danger">$9</span></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Break -->
            <div class="12u 12u$(medium)">
                <h3>Bank Instruction</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Bank / PayPal</th>
                                <th>How to pay link or link to site</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chase quick pay</td>
                                <td><a href="https://www.chase.com/online/digital/quickpay.html" target="_blank">https://www.chase.com/online/digital/quickpay.html</a></td>
                            </tr>
                            <tr>
                                <td>Bank of America</td>
                                <td><a href="https://www.bankofamerica.com/onlinebanking/education/how-to-send-money-online.go" target="_blank">https://www.bankofamerica.com/onlinebanking/education/how-to-send-money-online.go</a></td>
                            </tr>
                            <tr>
                                <td>Wells Fargo Bank</td>
                                <td><a href="https://www.wellsfargo.com/online-banking/transfers/surepay/" target="_blank">https://www.wellsfargo.com/online-banking/transfers/surepay/</a></td>
                            </tr>
                            <tr>
                                <td>Citi Bank</td>
                                <td><a href="https://online.citi.com/US/JRS/pands/detail.do?ID=PopMoney" target="_blank">https://online.citi.com/US/JRS/pands/detail.do?ID=PopMoney</a></td>
                            </tr>
                            <tr>
                                <td>Capital One Bank</td>
                                <td><a href="https://helpcenter.capitalone360.com/ingd/Topic.aspx?category=C3BNKEOECK" target="_blank">https://helpcenter.capitalone360.com/ingd/Topic.aspx?category=C3BNKEOECK</a></td>
                            </tr>
                            <tr>
                                <td>PNC Bank</td>
                                <td><a href="https://www.pnc.com/en/personal-banking/topics/using-popmoney.html" target="_blank">https://www.pnc.com/en/personal-banking/topics/using-popmoney.html</a></td>
                            </tr>
                            <tr>
                                <td>PayPal</td>
                                <td><a href="https://www.paypal.com/home" target="_blank">https://www.paypal.com/home</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Venue -->
    <section>
        <h2 id="content"><a name="venue"></a>Venue</h2>
        <p>We will be celebrating the event at Sri Guruvaayoorappan Temple, Marlboro NJ.</p>
        <div class="row">
            <div class="4u 12u$(small)">
                <h2>Sri Guruvaayoorappan Temple</h2>
                <h3>31 Wooleytown Rd, Morganville, NJ 07751</h3>
            </div>
            <div class="8u$ 12u$(small)">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.412335225171!2d-74.26408248460525!3d40.37755307936969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3cd0b31f871a1%3A0xf157f0063eb70595!2sSri+Guruvaayoorappan+Temple!5e0!3m2!1sen!2sus!4v1478812724940" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
        </div>
    </section>

    <!-- Yelam -->
    <section>
        <h2 id="content"><a name="yelam"></a>Yelam</h2>
        <div class="box alt">
            <div class="row uniform">
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/01_turmeric.jpg" alt="Turmeric" /></a>
                            <h4 class="text-center align-center">Turmeric</h4>
                            <p class="align-center">Starting Bid: $101</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/02_salt.jpg" alt="Salt with Container" /></a>
                            <h4 class="text-center align-center">Salt with Container - (1/2/3)</h4>
                            <p class="align-center">Starting Bid: $101</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/05_lemon.jpg" alt="Lemons(11) with Container" /></a>
                            <h4 class="text-center align-center">Lemons(11) with Container</h4>
                            <p class="align-center">Starting Bid: $101</p>
                        </article>
                    </div>
                </div>
                <!-- break -->
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/06_dates.jpg" alt="Dates with Container" /></a>
                            <h4 class="text-center align-center">Dates with Container</h4>
                            <p class="align-center">Starting Bid: $101</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/07_kalkandu.jpg" alt="Kalkandu with Container" /></a>
                            <h4 class="text-center align-center">Kalkandu with Container</h4>
                            <p class="align-center">Starting Bid: $101</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/08_coconuts.jpg" alt="Coconuts(7) with Container" /></a>
                            <h4 class="text-center align-center">Coconuts(7) with Container</h4>
                            <p class="align-center">Starting Bid: $101</p>
                        </article>
                    </div>
                </div>
                <!-- break -->
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/09_silverLamp.jpg" alt="Silver Lamp" /></a>
                            <h4 class="text-center align-center">Silver Lamp</h4>
                            <p class="align-center">Starting Bid: $251</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/10_silverPillayar.jpg" alt="Silver Pillayar" /></a>
                            <h4 class="text-center align-center">Silver Pillayar</h4>
                            <p class="align-center">Starting Bid: $201</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/11_kcsp.jpg" alt="Kunguma Chimizh & Sandhana Pezha" /></a>
                            <h4 class="text-center align-center">Kunguma Chimizh & Sandhana Pezha</h4>
                            <p class="align-center">Starting Bid: $251</p>
                        </article>
                    </div>
                </div>
                <!-- break -->
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/12_girlDress.jpg" alt="Girls Dress" /></a>
                            <h4 class="text-center align-center">Girls Dress</h4>
                            <p class="align-center">Starting Bid: $201</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/13_boyDress.jpg" alt="Boys Dress" /></a>
                            <h4 class="text-center align-center">Boys Dress</h4>
                            <p class="align-center">Starting Bid: $201</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/14_pillayarPic.jpg" alt="Pillayar Picture" /></a>
                            <h4 class="text-center align-center">Pillayar Picture</h4>
                            <p class="align-center">Starting Bid: $201</p>
                        </article>
                    </div>
                </div>
                <!-- break -->
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/15_bagPen.jpg" alt="Back Pack" /></a>
                            <h4 class="text-center align-center">School Bag</h4>
                            <p class="align-center">Starting Bid: $101</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/16_pen.jpg" alt="Pen" /></a>
                            <h4 class="text-center align-center">Pen</h4>
                            <p class="align-center">Starting Bid: $101</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/17_others.jpg" alt="Sponsored Items" /></a>
                            <h4 class="text-center align-center">Sponsored Item</h4>
                            <p class="align-center">If you want to give any items for yelam, please contact us.</p>
                        </article>
                    </div>
                </div>
                <div class="4u 12u$(small)">
                    <div class="mini-posts">
                        <article>
                            <a class="image"><img src="~/images/sponsored_01.jpg" alt="Sponsored - Silver Lamp" /></a>
                            <h4 class="text-center align-center">Sponsored : Silver Lamp</h4>
                            <p class="align-center"><!-- Sponsored By: --></p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <a href="~/media/pdf/PN2015Auction.pdf" target="_blank"><b>2015 - Yelam Details</b></a>
    </section>

    <!-- Events -->
    <section>
        <h2 id="content"><a name="events"></a>Events</h2>
        <div class="row">
            <div class="6u 12u$(small)">
                <a name="event1"></a>
                <h2>Bhajans</h2>
                <p>
                    Devotional Songs by Kids and Adults. <br />
                    Kids and Adults are encouraged to sing devotional song or Sloga either solo or in group. Please register your name <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUAMa_8VmbLvp5Gj2FWIbAcslMN1tppjCYtaEjueFCEA8PRA/viewform" target="_activities">here</a>. In case of time concern, it will be based on first come first serve. Walk-in welcome as well.
                </p>
            </div>
            <div class="6u 12u$(small)">
                <a name="event2"></a>
                <h2>Kids Activities</h2>
                <p>If you want to give some free time to your digital gadgets, no worries. We have some exciting kids activities during the event. Sign up required. Please register <a href="https://docs.google.com/forms/d/e/1FAIpQLSez8FVpIlRT4_L8UWN2tBn7oFdDzKhBz-bIl-wxvMYicmdfYQ/viewform" target="_activities">here</a>.  </p>
            </div>
        </div>
    </section>

    <!-- Food -->
    <section>
        <h2 id="content"><a name="food"></a>Food</h2>
        <div class="row">
            <div class="5u 12u$(small)">
                <span class="image fit"><img src="~/images/food.jpg" /></span>
            </div>
            <div class="5u 12u$(small)">
                <p>
                    This year we are making a major change. As announced in our Deepavali function, to avoid cold food and reduce the work load in food prepartion, we are planning to cater food from outside other than our traditional Vellai Paniyaram and Kandarappam.<br />
                    We need volunteers for doing VellaPaniyaram and Kanthrappam. If you are interested in making either one of those or both, please contact the <a href="#contactus">Organising committee</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="12u 12u$(medium)">
                <p>A big Thanks to our current volunteers who registered for making our traditional food items.</p>
            </div>
            <div class="6u 12u$(small)">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Volunteer for Elai Maavu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kalyani Natarajan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="6u 12u$(small)">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Volunteer for Thirattu Paal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kannathal Singaram</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="6u 12u$(small)">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Volunteer for Kosumali</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Subhashini Murugappan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--
            <div class="6u 12u$(small)">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Volunteer for Paasipayaru Sundal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mala Sukumar</td>
                                <td>Deepa Ramanathan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            -->
            <div class="6u 12u$(small)">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Volunteer for Sundal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jaya Senthil</td>
                                <td>Arthi Subbu</td>
                            </tr>
                            <tr>
                                <td>Indhu Lakshmanan</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="6u 12u$(small)">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Volunteer for Vellai Paniyaram</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Priya Arun</td>
                                <td>Lakshmi Kathir</td>
                            </tr>
                            <tr>
                                <td>Usha Thenappan</td>
                                <td>Meena muthuraman</td>
                            </tr>
                            <tr>
                                <td>Alamu Ramu</td>
                                <td>Susheela Ram</td>
                            </tr>
                            <tr>
                                <td>Visalakshi Ramanathan</td>
                                <td>Sundari Vellay</td>
                            </tr>
                            <tr>
                                <td>Meena Rama</td>
                                <td>Shanthi Nachiappan</td>
                            </tr>
                            <tr>
                                <td>Janaki Adaikkappan</td>
                                <td>Meena Babu</td>
                            </tr>
                            <tr>
                                <td>Viji Lakshmanan</td>
                                <td>Uma Muthiah</td>
                            </tr>
							<tr>
                                <td>Meenal Lakshmanan</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="6u 12u$(small)">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Volunteer for Kandarappam</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                                <td>Devi Nagappan</td>
                                <td>Amudha Selvanathan</td>
                            </tr>
                            <tr>
                                <td>Easwari Natarajan</td>
                                <td>Shanthi Chad</td>
                            </tr>
                            <tr>
                                <td>Chittu</td>
                                <td>Susheeela Ramu</td>
                            </tr>
                            <tr>
                                <td>Subha Senthil</td>
                                <td>Radha Uthaman</td>
                            </tr>
                            <tr>
                                <td>Anusha Ramanathan</td>
                                <td>Alagu Venkatachalam</td>
                            </tr>
                            <tr>
                                <td>Shantha Lakshmanan</td>
                                <td>Mala Sukumar</td>
                            </tr>
                            <tr>
                                <td>Deepa Ramanathan</td>
                                <td>Jaya Bhaskar</td>
                            </tr>                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <p>Like to Volunteer, but need to refresh on how to make these. No worries, below are the videos with step by step instructions </p>
            <div class="6u 12u$(small)">
                <h3>Vellai paniyaram</h3>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/Z1n0QrSUplk" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="6u 12u$(small)">
                <h3>Kandarappam</h3>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/D01QkW6fxkA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <!-- Sponsors -->
    <section>
        <h2 id="content"><a name="sponsors"></a>Sponsors</h2>
        <h4>Sponsors - உபயதாரர்கள்  </h4>
        <p>
            If you like to sponsor for one of these items, please contact the <a href="#contactus">Organising committee</a>.
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Amount/Sponsors</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Food</td>
                            <td>$500</td>
                        </tr>
                        <tr>
                            <td>Jasmine Flowers</td>
                            <td>Valli Palaniappan</td>
                        </tr>
                        <tr>
                            <td>Calendar Cost</td>
                            <td>$150</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2">Thanks to all our sponsors.</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
            <h4>Corporate Sponsors</h4>
            <p>A special thanks to the following corporate sponsors for their continous support</p>
            <div class="row">
                <div class="6u 12u$(medium)">
                    <span class="image fit"><img src="~/images/Shyam_ML.jpg" alt="" /></span>
                </div>
                <div class="6u 12u$(medium)">
                    <span class="image fit"><img src="~/images/Usha_NYLIC.jpg" alt="" /></span>
                </div>
                <div class="6u 12u$(medium)">
                    <span class="image fit"><img src="~/images/Visa_RM.jpg" alt="" /></span>
                </div>
				<!--
                <div class="6u 12u$(medium)">
                    <span class="image fit"><img src="~/images/Guna_WF.jpg" alt="" /></span>
                </div>
				-->
            </div>
           
    </section>

    <!-- 2016 Directory (NY/NJ/CT) -->
    <section>
        <h2 id="content"><a name="directory"></a>2016 Directory (NY/NJ/CT)</h2>
        <p>As part of 2016 PN function we planned to collect and print a directory of Nagarathars of our region.  
        Please fill out and submit the information <a href="~/directory">here</a></p>
        <div class="row">

        </div>
    </section>
    
    <!-- Contact Us -->
    <section>
        <h2 id="content"><a name="contactus"></a>Contact US</h2>
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Pillayar Nonbu Organising committee</h3>
                <ul>
                    <li>Deepa & Ram - 732-369-6223</li>
                    <li>Devi & Nagappan - 732-537-9623</li>
                    <li>Kannathal & Singaram - 732-329-0292</li>
                    <li>Mala & Sukumar - 609-799-1811</li>
                    <li>Shantha & Laks - 732-438-0842</li>
                    <li>Valli & Pal - 609-275-4768</li>
                    <li>Visalatchi & Karuppiah - 732-770-2516</li>
                </ul>
            </div>
            <div class="6u 12u$(small)">
                <h4>NSNA - North East Secretary</h4>
                <p>
                    Ramanathan Nachiappan <br />
                    Email: nramnathan@hotmail.com <br />
                    Phone number: 347-331-8035
                </p>
            </div>
        </div>
    </section>