@{
    ViewBag.Title = "2016 Pillayar Nonbu";
}



    <!-- Home -->
    <section id="banner">
        <div class="content">
            <a name="home"></a>
            <header>
                <h1>
                    Pillayar Nonbu<br />
                    2016
                </h1>
                <h4>Saturday, January 7 2017</h4>
                <h3>
                    Sri Guruvayoorappan Temple<br />
                    31 Wooleytown Road <br />
                    Marlboro Township, NJ 07751
                </h3>
            </header>
            <p>
                வாக்குண்டாம் நல்ல மனமுண்டாம் மாமலராள்<br />
                நோக்குண்டாம் மேனி நுடங்காது-பூக்கொண்டு<br />
                துப்பார் திருமேனித் தும்பிக்கை யான்பாதம்<br />
                தப்பாமற் சார்வார் தமக்கு.
            </p>
            <p>
                Vaakundam Nalla Manamundam, Maa Malaraal<br />
                Nokundam, Meni Nudangaadu - Pookondu <br />
                Thuppar Thirumeni Thumbikaiyaan Paadham <br />
                Thappamal Saarvaar Thamakku.
            </p>
            <p>With great pleasure we would like to invite all Nagarathars of NY/NJ/CT to 2016 Pillayar Nonbu. This year Pillayar Nonbu falls on Jan 2017. We are looking forward to meet you all.</p>
        </div>
        <span class="image object">
            <img src="images/dn.pillayar03.jpg" alt="Pillayar" />
        </span>
    </section>

    <!-- Registration -->
    <section>
        <h2 id="content"><a name="register"></a>Registration</h2>
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Evite - RSVP</h3>
                <p>If you have received evite email, please follow the link in the email to RSVP. If you haven't received the email, Please use the below link and RSVP for the event. Please do register to confirm your attendance in advance and also forward this invitation to new nagarathars in our neighborhood.</p>
                <ul class="actions">
                    <li><a href="http://www.evite.com/event/03BDWXAGFLCDG4YFKEPGOYRLCBP5VM/rsvp" target="_evite" class="button big">RSVP</a></li>
                </ul>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Registration Fee</h3>
                <p>
                    <ul>
                        <li>Online registration fee payment is $35 per family / $25 per bachelor / $10 per Student. Online payment using your Bank Account or PayPal.</li>
                        <li>In person registration fee payment at the venue on the function day $40 per family / $30 per bachelor / $10 per Student.</li>
                        <li>Early Bird Discount:  Pay by Online before Dec 15 to get  10% off.</li>
                    </ul>
                </p>
            </div>
            <!-- Break -->
            <div class="12u 12u$(medium)">
                <h3>Online Payment Instruction</h3>
                <p>Pay online using below info. Instructions to transfer using email id or phone number from different banks/Paypal: </p>
            </div>
            <!-- Break -->
            <div class="8u 12u$(medium)">
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Info</th>
                                <th>Pay to email or Phone number and add note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Email</td>
                                <td>nramnathan@hotmail.com</td>
                            </tr>
                            <tr>
                                <td>Phone number</td>
                                <td>347-331-8035</td>
                            </tr>
                            <tr>
                                <td>Note</td>
                                <td>2016 PN Registration Fee. - {Your Email Id}. <br />Please add your email id.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="4u 12u$(medium)">
            </div>
            <!-- Break -->
            <div class="12u 12u$(medium)">
                <h3>Bank Instruction</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Bank / PayPal</th>
                                <th>How to pay link or link to site</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chase quick pay</td>
                                <td><a href="https://www.chase.com/online/digital/quickpay.html" target="_blank">https://www.chase.com/online/digital/quickpay.html</a></td>
                            </tr>
                            <tr>
                                <td>Bank of America</td>
                                <td><a href="https://www.bankofamerica.com/onlinebanking/education/how-to-send-money-online.go" target="_blank">https://www.bankofamerica.com/onlinebanking/education/how-to-send-money-online.go</a></td>
                            </tr>
                            <tr>
                                <td>Wells Fargo Bank</td>
                                <td><a href="https://www.wellsfargo.com/online-banking/transfers/surepay/" target="_blank">https://www.wellsfargo.com/online-banking/transfers/surepay/</a></td>
                            </tr>
                            <tr>
                                <td>Citi Bank</td>
                                <td><a href="https://online.citi.com/US/JRS/pands/detail.do?ID=PopMoney" target="_blank">https://online.citi.com/US/JRS/pands/detail.do?ID=PopMoney</a></td>
                            </tr>
                            <tr>
                                <td>Capital One Bank</td>
                                <td><a href="https://helpcenter.capitalone360.com/ingd/Topic.aspx?category=C3BNKEOECK" target="_blank">https://helpcenter.capitalone360.com/ingd/Topic.aspx?category=C3BNKEOECK</a></td>
                            </tr>
                            <tr>
                                <td>PNC Bank</td>
                                <td><a href="https://www.pnc.com/en/personal-banking/topics/using-popmoney.html" target="_blank">https://www.pnc.com/en/personal-banking/topics/using-popmoney.html</a></td>
                            </tr>
                            <tr>
                                <td>PayPal</td>
                                <td><a href="https://www.paypal.com/home" target="_blank">https://www.paypal.com/home</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Venue -->
    <section>
        <h2 id="content"><a name="venue"></a>Venue</h2>
        <p>We will be celebrating the event at Sri Guruvaayoorappan Temple, Marlboro NJ.</p>
        <div class="row">
            <div class="4u 12u$(small)">
                <h2>Sri Guruvaayoorappan Temple</h2>
                <h3>31 Wooleytown Rd, Morganville, NJ 07751</h3>
            </div>
            <div class="8u$ 12u$(small)">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.412335225171!2d-74.26408248460525!3d40.37755307936969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3cd0b31f871a1%3A0xf157f0063eb70595!2sSri+Guruvaayoorappan+Temple!5e0!3m2!1sen!2sus!4v1478812724940" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
        </div>
    </section>

    <!-- Yelam -->
    <section>
        <h2 id="content"><a name="yelam"></a>Yelam</h2>
        <p>Coming Soon</p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br />
        <!--
        <div class="posts">
            <article>
                <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                <h3>Interdum aenean</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                <h3>Nulla amet dolore</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                <h3>Tempus ullamcorper</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                <h3>Sed etiam facilis</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                <h3>Feugiat lorem aenean</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                <h3>Amet varius aliquam</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </article>
        </div>
        -->
    </section>

    <!-- Events -->
    <section>
        <h2 id="content"><a name="events"></a>Events</h2>
        <div class="row">
            <div class="6u 12u$(small)">
                <a name="event1"></a>
                <h2>Bhajans</h2>
                <p>
                    Devotional Songs by Kids and Adults. <br />
                    Kids and Adults are encouraged to sing devotional song or Sloga either solo or in group. Registration will open soon. Walk-in welcome as well.
                </p>
            </div>
            <div class="6u 12u$(small)">
                <a name="event2"></a>
                <h2>Kids Activities</h2>
                <p>If you want to give some free time to your digital gadgets, no worries. We have some exciting kids activities during the event. More info to follow. Sign up required.</p>
            </div>
        </div>
    </section>

    <!-- Food -->
    <section>
        <h2 id="content"><a name="food"></a>Food</h2>
        <div class="row">
            <div class="5u 12u$(small)">
                <span class="image fit"><img src="images/food.jpg" /></span>
            </div>
            <div class="5u 12u$(small)">
                <p>
                    This year we are making a major change. As announced in our Deepavali function, to avoid cold food and reduce the work load in food prepartion, we are planning to cater food from outside other than our traditional Vellai Paniyaram and Kandarappam.<br />
                    We need volunteers for doing VellaPaniyaram and Kanthrappam. If you are interested in making either one of those or both, please contact the <a href="#contactus">Organising committee</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <p>We like to thank our current volunteers who registered their name for making our traditional food items.</p>
            <div class="6u 12u$(small)">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Volunteer for Vellai Paniyaram</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Priya Arun</td>
                                <td>Lakshmi Kathir</td>
                            </tr>
                            <tr>
                                <td>Usha Thenappan</td>
                                <td>Meena muthuraman</td>
                            </tr>
                            <tr>
                                <td>Alamu Ramu</td>
                                <td>Susheela Ram</td>
                            </tr>
                            <tr>
                                <td>Visalakshi Ramanathan</td>
                                <td>Sundari Vellay</td>
                            </tr>
                            <tr>
                                <td>Subhashini Murugappan</td>
                                <td>Shanthi Nachiappan</td>
                            </tr>
                            <tr>
                                <td>Janaki Adaikkappan</td>
                                <td>Meena Babu</td>
                            </tr>
                            <tr>
                                <td>Poornima Arun</td>
                                <td>Uma Muthiah</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="6u 12u$(small)">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Volunteer for Kandarappam</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Devi Nagappan</td>
                                <td>Amudha Selvanathan</td>
                            </tr>
                            <tr>
                                <td>Easwari Natarajan</td>
                                <td>Seethalaksmi Srinivasan</td>
                            </tr>
                            <tr>
                                <td>Chittu</td>
                                <td>Susheeela Ramu</td>
                            </tr>
                            <tr>
                                <td>Subha Senthil</td>
                                <td>Radha Uthaman</td>
                            </tr>
                            <tr>
                                <td>Shanthi Chad</td>
                                <td>Alagu Venkatachalam</td>
                            </tr>
                            <tr>
                                <td>Anusha Ramanathan</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <p>Like to Volunteer, but need to refresh on how to make these. No worries, below are the videos with step by step instructions </p>
            <div class="6u 12u$(small)">
                <h3>Vellai paniyaram</h3>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/Z1n0QrSUplk" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="6u 12u$(small)">
                <h3>Kandarappam</h3>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/D01QkW6fxkA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <!-- Sponsors -->
    <section>
        <h2 id="content"><a name="sponsors"></a>Sponsors</h2>
        <h4>Sponsors - உபயதாரர்கள்  </h4>
        <p>
            If you like to sponsor for one of these items, please contact the <a href="#contactus">Organising committee</a>.
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Food</td>
                            <td>$500</td>
                        </tr>
                        <tr>
                            <td>Jasmine Flowers</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <td>Calendar Cost</td>
                            <td>$150</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <h4>Corporate Sponsors</h4>
            <p>A special thanks to the following corporate sponsors for their continous support</p>
            <div class="row">
                <div class="4u 12u$(small)">
                    <b>Shyam Gopalaswamy , CIMA®</b> <br/>
                    Financial Advisor<br />
                    Portfolio Advisor<br />
                    NMLS ID: 1479730<br />
                    Visit my webpage at <a href="http://www.fa.ml.com/shyam.gopalaswamy">www.fa.ml.com/shyam.gopalaswamy</a><br /><br />

                    <b>Merrill Lynch, Pierce, Fenner & Smith Inc.</b><br />
                    7 Roszel Road, 4th Floor | <br/>
                    Princeton, NJ  08540<br />
                    Tel: 609-243-7999|Toll Free: 800-388-5460 | Fax: 609-651-8683<br />
                    Email:  shyam.gopalaswamy@ml.com<br /><br />
                    Life’s better when we’re connected®<br />
                    <img src="~/images/Shyam_ML.png" alt="Logo"/><br/>
                </div>
                <div class="4u 12u$(small)">
                    
                </div>
                <div class="4u 12u$(small)">
                    
                </div>
            </div>
           
    </section>

    <!-- 2016 Directory (NY/NJ/CT) -->
    <section>
        <h2 id="content"><a name="directory"></a>2016 Directory (NY/NJ/CT)</h2>
        <p>As part of 2016 PN function we planned to collect and print a directory of Nagarathars of our region.  Please fill out and submit the information for this year directory. We will publish the form soon.</p>
        <div class="row">

        </div>
    </section>
    <!-- Contact Us -->
    <section>
        <h2 id="content"><a name="contactus"></a>Contact US</h2>
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Pillayar Nonbu Organising committee</h3>
                <ul>
                    <li>Deepa & Ram - 732-369-6223</li>
                    <li>Devi & Nagappan - 732-537-9623</li>
                    <li>Kannathal & Singaram - 732-329-0292</li>
                    <li>Mala & Sukumar - 609-799-1811</li>
                    <li>Shantha & Laks - 732-438-0842</li>
                    <li>Visalatchi & Karuppiah - 732-770-2516</li>
                    <li>Valli & Pal - 609-275-4768</li>
                </ul>
            </div>
            <div class="6u 12u$(small)">
                <h4>NSNA - North East Secretary</h4>
                <p>
                    Ramanathan Nachiappan <br />
                    Email: nramnathan@hotmail.com <br />
                    Phone number: 347-331-8035
                </p>
            </div>
        </div>
    </section>

@section JavaScript{
        <script src="~/assets/js/skel.min.js"></script>
        <script src="~/assets/js/util.js"></script>
        <script src="~/assets/js/main.js"></script>
    }